<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="goBackToProducts()">
                <ion-icon icon-only name="arrow-round-back"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title>{{Name}}</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
        <ion-button (click)="toggleSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <img src="{{Image}}" alt="">
    </ion-slide>
  </ion-slides>

  <h4>{{Name}}</h4>
  <p>Category: {{Category}}</p>
  <p>{{Description}} </p>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Price</h2>
        <h3>N{{Price}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Category</h2>
        <h3>{{Category}}</h3>
      </ion-label>
    </ion-item>
    <!--
    <ion-item>
      <ion-label>
        <h2>Total Quantity</h2>
        <h3>{{Quantity}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Total Quantity Left</h2>
        <h3>{{Left}}</h3>
      </ion-label>
    </ion-item>
  -->
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button size="full" color="secondary" (click)="editProduct()">Edit</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="full" color="danger" (click)="startDeleteProduct()">Delete</ion-button>
    </ion-col>
  </ion-row>
</ion-content>