<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Disabled Segment -->
  <ion-segment (ionChange)="segmentChanged($event)" color="danger">
    <ion-segment-button value="successful">
      {{successList.length}} Successful
    </ion-segment-button>
    <ion-segment-button value="incomming" *ngIf="showIncoming" [checked]="showIncoming">
      {{incomingList.length}} incomming
    </ion-segment-button>
    <ion-segment-button value="missed">
      {{cancelledList.length}} Declined
    </ion-segment-button>
    <ion-segment-button value="all" [checked]="showAll">
      {{requestList.length}} All
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>

  <div *ngIf="currentTab == 'successful'">
    <ion-list>
      <ion-item *ngFor="let item of successList">
        <ion-avatar slot="start">
          <img src="{{item.product.image}}">
        </ion-avatar>
        <ion-label>
          <h2>{{item.seller.name}} <span class="disabled-text">[ {{item.product.name.toLowerCase()}}]</span></h2>
          <p>Requested by {{item.buyer.name}} on {{item.created_at}}</p>
          <p>successful</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div  *ngIf="currentTab == 'incomming'">
  <div *ngFor="let item of incomingList" text-center>
    <ion-avatar class="avatar">
      <img src="{{item.avatar}}">
    </ion-avatar>
    <h4>Incomming Requests from {{item.buyer}}</h4>
    <p>Wants to buy one of your {{item.name}}</p>
    <ion-row>
      <ion-col>
          <ion-button color="danger" (click)="decline(item.rid)">Decline</ion-button>
      </ion-col>
      <ion-col>
          <ion-button color="primary" (click)="accept(item.rid)">Accept</ion-button>
      </ion-col>
    </ion-row>
  </div>
  </div>

  <div *ngIf="currentTab == 'missed'">
    <ion-list>
      <ion-item *ngFor="let item of cancelledList">
        <ion-avatar slot="start">
          <img src="{{item.product.image}}">
        </ion-avatar>
        <ion-label>
          <h2>{{item.seller.name}} <span class="disabled-text">[{{item.product.name.toLowerCase()}}]</span></h2>
          <p>Requested by {{item.buyer.name}} on {{item.created_at}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="currentTab == 'all'">
    <ion-list>
      <ion-item *ngFor="let item of requestList">
        <ion-avatar slot="start">
          <img src="{{item.product.image}}">
        </ion-avatar>
        <ion-label>
          <h2>{{item.seller.name}} <span class="disabled-text">[{{item.product.name.toLowerCase()}}]</span></h2>
          <p>Requested by {{item.buyer.name}} on {{item.created_at}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>