<ion-header no-border>
  <ion-toolbar color="danger" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="signUp()">
    
    
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input clearInput type="email" placeholder="Enter Email Address" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-button expand="full" type="submit" color="danger">Reset Password</ion-button>
  </form>
</ion-content>