<ion-content padding>
  <form (ngSubmit)="savePersonalDetails()">
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input clearInput type="text" placeholder="Enter Full Name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input clearInput type="text" placeholder="Enter User Name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label><ion-icon name="transgender"></ion-icon></ion-label>
        <ion-select placeholder="Select Gender">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input clearInput type="email" placeholder="Enter Email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input clearInput type="tel" placeholder="Enter Mobile Number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input clearInput type="password" placeholder="Enter Password"></ion-input>
        <ion-icon name="eye"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input clearInput type="password" placeholder="Confirm Password"></ion-input>
        <ion-icon name="eye"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" color="danger">Save & Continue</ion-button>
  </form>
</ion-content>