<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Services</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveService()">
    <ion-list>
      <ion-item>
        <ion-label>
          Select Store
        </ion-label>
        <ion-select [(ngModel)]="service.store" name="store">
            <ion-select-option value="0">Default</ion-select-option>
            <ion-select-option *ngFor="let item of storeList" [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div padding class="select-images" (click)="uploadFromImagePicker()">
      <div class="camera-holder"><ion-icon name="camera"></ion-icon></div>
      <p>Add service photo</p>
   </div>

 <ion-list>
   <ion-item>
     <ion-label fixed >Active Photo</ion-label>
     <ion-avatar item-end>
       <img src="{{imgPreview}}" >
     </ion-avatar>
   </ion-item>
 </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>
          Select Category
        </ion-label>
        <ion-select name="category" [(ngModel)]="service.category">
            <ion-select-option *ngFor="let item of categoryList" value="{{item.name}}">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>

        </ion-label>
        <ion-input clearInput type="text" placeholder="Enter  Service Title" name="name" [(ngModel)]="service.name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-textarea placeholder="Enter Service Description" name="description" [(ngModel)]="service.description"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-textarea placeholder="Enter Office Location" name="location" [(ngModel)]="service.location"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-input clearInput type="number" placeholder=" Unit Price" name="price" [(ngModel)]="service.price"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <!--
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-input clearInput type="number" placeholder=" Duration in Hours" name="duration" [(ngModel)]="service.quantity"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    -->
    </ion-row>
  
    <ion-button expand="full" type="submit" color="default" padding>Save</ion-button>
  </form>
</ion-content>