<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Services</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
        <ion-button (click)="toggleSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-searchbar *ngIf="isToggled"></ion-searchbar>
  </ion-header>
  
  <ion-content>
    <ion-row>
      <ion-col *ngFor="let i of [1,3,5,6,7,8,95,4,6,7]" (click)="viewService(i)">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Electornic</ion-card-subtitle>
            <p>Fix your generator</p>
          </ion-card-header>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/nin-live.png" alt="">
          <ion-card-content>
            Here is on of the...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" (click)="goToNewService()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>