.header {
    height: 150px;
    width: 100%;
    background: #f04141;
    padding: 10px;
    color: #fff;
    h3 {
        line-height: 15px;
    }
    p {
        line-height: 1px;
    }
    svg {
        color: #ccc;
    }
    ion-icon {
        font-size: 1.5em;
    }

    .active-review {
        color: gold;
    }
}

.side-bar  .sc-ion-label-md-h{
    margin: 11px 8px 11px 16px;
}

ion-footer  .sc-ion-label-md-h{
    margin: 11px 8px 11px 16px;
}

.select-images {
    
    input {
        display: none;
    }
    .camera-holder {
      text-align: center;
      border: 1px solid #ccc;
      font-size: 20px;
      padding: 25px;
      margin: auto 0px;
      width: 25%;
      border-radius: 100%;
      margin: 0px auto;
    }
    p {
      text-align: center;
    }
}

