<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-list>
        <ion-item *ngFor="let item of reviewList">
          <ion-avatar slot="start">
            <img src="{{item.avatar}}">
          </ion-avatar>
          <ion-label>
            <h2>{{item.name}} - {{item.created_at}}</h2>
            <h3>
              <ion-icon *ngFor="let i of arrayGold(item.rating)" slot="icon-only"  name="star" class="gold" ></ion-icon>
              <ion-icon slot="icon-only" *ngFor="let i of arrayLight(item.rating)"  name="star" ></ion-icon>
            </h3>
            <p>{{item.message}}</p>
            <p>{{remark(item.rating)}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>