.logo-holder {
    img {
        width: 10em;
    }
    p {
        font-size: 1.5em;
        font-weight: 400;
        margin: 0px auto;
        font-family: 'Charmonman', cursive;

    }
}

.action {
    padding-top: 1.5em;
    a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }
}