<ion-content padding class="flex-container">
  <div text-center class="logo-holder">
    <img src="/assets/img/logo.jpeg" alt="">
    <p>Panafri Partner</p>
  </div>
  <ion-item>
    <ion-label>
      <ion-icon name="mail"></ion-icon>
    </ion-label>
    <ion-input type="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="lock"></ion-icon>
    </ion-label>
    <ion-input type="password" placeholder="password"></ion-input>
    <ion-icon name="eye"></ion-icon>
  </ion-item>
  <div text-center class="action">
    <ion-button color="danger">SIGN IN</ion-button>
    <p>Don't have an account? <b><a [routerLink]="['/register', 'signup', { outlets: { personal: ['personal'] } }]">Sign
          up!</a></b></p>
    <p><a [routerLink]="['/register', 'signup', { outlets: { personal: ['personal'] } }]">Forgot password?</a></p>
  </div>
</ion-content>